.lbl_resa{
    display: inline-block;
    width: 150px;
    float: left;
}
.ipt_resa{
	 display: block;
}


#les_voyages_titre,#les_escapades_titre ,#les_mails_titre {
	cursor: pointer;
}
.voyage_clicked {
	background-color: #FFE4B9;
}

#les_voyages_titre
{
	background-color: #e4e4e4;
}

.icon-cjm-resa {

}
.resa_attente:after {
	content:'';
	position: inherit;
    border-style: solid;
    border-width: 5px;
    height: 100%;
    left: 0;
    margin-right: 4px;
    color: orange;
}
.user_ext:before {
	content:'';
	position: inherit;
    border-style: solid;
    border-width: 5px;
    height: 100%;
    left: 0;
    margin-right: 4px;
    color: DodgerBlue;
}
.ouvert::before, .file_attente::before, .cloture::before {
	content:'';
	position: inherit;
    border-style: solid;
    border-width: 10px;
    height: 100%;
    left: 0;
    margin-right: 10px;
}
.ouvert::before {
	color: #7FDD4C;
}
.file_attente::before {
	color: orange;
}
.cloture::before {
	color: #C60800;
}
.file_attente:hover::before, .cloture:hover::before, .ouvert:hover::before {
    margin-left: 30px;
	transition-duration: 0.5s;
}
#les_resas td,#les_escapades td,#les_voyages td {
	border-bottom: 1px solid #e1e1e1;
}
#les_resas tr:hover,#les_escapades tr:hover,#les_voyages tr:hover {
	background-color: #e1e1e1;
}
#les_resas th,#les_escapades th,#les_voyages th {
	font-weight: bold;
}
#add_resa_form input, #add_resa_form label {
    margin-bottom: 4px;
}

.tooltip{
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 36px;
    color: #fff;
    content: attr(title);
    left: 30%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 30px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}
