/* div annulation reza client */
#annul_resa_div{
  width : 345px;
}	


.p_reza{
  text-align: center;
}
#resa_modif{
  padding: 0.7em 1em;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    line-height: 1;
    background: transparent none repeat scroll 0% 0% padding-box;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius:  4px;
    -moz-border-radius:  4px;
    cursor: pointer;
}
#resa_modif:hover {
    color: lightblue;
    border: 2px solid lightblue;

}
.resa_div{
  border : 2px solid orange;
  margin : auto;
  padding : 20px;
  width : 400px;
}
.annul_resa_div{
  border : 3px solid lightblue;
  -webkit-border-radius: 28px;
-moz-border-radius: 28px;
border-radius: 28px;
  margin : auto;
  padding : 20px;
  width : 400px;
}
.resa_div{
   border : 3px solid lightblue;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
}
.idtitrenoIns{
  text-align: center;
  color: red;
}
.div_modif_resa_form{
  padding: auto;
}
.ipt_modif_resa_form{
  width: 100px;
  margin: 20px;
}
.div2_modif_resa_form{
  height:20px;
}
.ipt_resa_form{
  margin-left : 120px;
  margin-top : 50px;
  padding : 10px;
}
.lbl_resa_div{
  margin-left : 50px;
}

#ipt_sub_modif_reza{
  margin-left:50px;
}

